body {
    margin-left: 10%;
    margin-left: 10%;
}

.navegacao {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    text-align: center;
}


#titulo h1 {
    width: 119px;
    height: 42px;
    top: 40px;
    left: 160px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    text-align: center;
}

#menu a {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border-radius: 20px;
    font-family: Poppins;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #070F18;

}


#menu li {  
    height: 24;
    margin-left: 20px;
    top: 49px;
    left: 974px;
    display: inline-block;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-style: normal;
    color: #070F18;
}

#cabecalhocta h1 {
    font-family: Poppins;
    font-size: 55px;
    font-weight: 700;
    line-height: 82.5px;
    text-align: left;
    color: #070F18;
}

p.texto {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #575455;
}

#cabecalhoimg img {
    margin-left: 42px;
    border-radius: 20%;

}

#cabecalhoimg img {
    width: 50%;
    height: 70%;

}

#buttoncta {
    background: #1F7CFF;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
}

#cabecalhoclientetexto {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: black;
}

#clientes {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: left;
}

#cabecalhoclientelogo {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#red {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: #F75C4E;
}

#black {
    font-family: Poppins;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    text-align: center;
    color: #000000;

}

.gray {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    color: #575455;
}

#textosimbolos {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;

}
#meioimg img{
    border-radius: 20%;
}
